In [45]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [75]:
driver = webdriver.Chrome(r"C:\Users\chawl\Documents\chromedriver_win32\chromedriver.exe")

# Q1

In [5]:
# opening the portal
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [10]:
#creating the lists for storing data
rank=[]
name=[]
artist=[]
date=[]
view=[]
# looping through elements to get all the data
for i in range(1,31):
    rank.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[" + str(i) + "]/td[1]").text)
    name.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[" + str(i) + "]/td[2]").text)
    artist.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[" + str(i) + "]/td[3]").text)
    date.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[" + str(i) + "]/td[5]").text)
    view.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[" + str(i) + "]/td[4]").text)
# creating dataframe
youtube = pd.DataFrame({
    'rank':rank,
    'name':name,
    'artist':artist,
    'date':date,
    'view(In Billions)':view}
    )
youtube.head()

,rank,name,artist,date,view(In Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.91
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.43
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.53
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.37
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.16

# q2

In [30]:
# opening the portal
url = "https://www.bcci.tv/"
driver.get(url)
# searching the buttona and reaching the next portal
button=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
button.click()
button=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]")
button.click()

In [31]:
# getting all the elements XPATH
team = driver.find_elements_by_xpath("//div[@class='fixture__teams']")
fixture = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
address = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
month = driver.find_elements_by_xpath("//span[@class='fixture__month']")
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")

In [32]:
# creating the lists to store the data
teams=[]
fixtures=[]
addresses=[]
dates=[]
months=[]
times=[]
# looping through all the objects to get the required data
for i in team:
    teams.append(i.text)
for i in fixture:
    fixtures.append(i.text)
for i in address:
    addresses.append(i.text)
for i in date:
    dates.append(i.text)
for i in month:
    months.append(i.text)
for i in time:
    times.append(i.text)

In [33]:
# creating the dataframe
teams = pd.DataFrame({
    "team":teams,
    "fixture":fixtures,
    "address":addresses,
    "date":dates,
    "month":months,
    "time":times
})
teams.head()

,team,fixture,address,date,month,time
0,SRI LANKA\nv\nINDIA,1st ODI,"R Premadasa Stadium, Colombo",13,JULY,14:30 IST
1,SRI LANKA\nv\nINDIA,2nd ODI,"R Premadasa Stadium, Colombo",16,JULY,14:30 IST
2,SRI LANKA\nv\nINDIA,3rd ODI,"R Premadasa Stadium, Colombo",18,JULY,14:30 IST
3,SRI LANKA\nv\nINDIA,1st T20I,"R Premadasa Stadium, Colombo",21,JULY,19:00 IST
4,SRI LANKA\nv\nINDIA,2nd T20I,"R Premadasa Stadium, Colombo",23,JULY,19:00 IST

# q3

In [41]:
# opening the portal
url = " https://www.guru99.com/"
driver.get(url)
# reachiong the required portal by clicking on the elements
button=driver.find_elements_by_xpath("//a[@title='Selenium']")
button[1].click()
button=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
driver.get(button.get_attribute('href'))

In [46]:
i=2
# creating the lists to store data
name=[]
disc=[]
# looping to get the data until no data is left
while True:
    try:
        name.append(driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[1]").text)
        disc.append(driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[2]").text)
        i+=1
    except NoSuchElementException:
        break;
#creating dataframe
exceptions = pd.DataFrame({
    "name":name,
    "discription":disc
})
exceptions.head()

,name,discription
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

# q4

In [54]:
import time
# opening the portal
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
# reaching the required destination
button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
button.click()
button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
button.click()
button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
button.click()

In [58]:
i=1
# creating the list to store the data
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]
# looping through all the elements until no data is left
while True:
    try:
        rank.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[1]").text)
        state.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[2]").text)
        gsdp1.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[3]").text)
        gsdp2.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[4]").text)
        share.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[5]").text)
        gdp.append(driver.find_element_by_xpath("//*[@id='table_id']/tbody/tr["+str(i)+"]/td[6]").text)
        i+=1
    except NoSuchElementException:
        break;
# creating the dataframe
economy=pd.DataFrame({
    'rank':rank,
'state':state,
'gsdp (19-20)':gsdp1,
'gsdp (18-19)':gsdp2,
'share (18-19)':share,
'gdp':gdp
})
economy.head()

  rank          state gsdp (19-20) gsdp (18-19) share (18-19)      gdp
0    1    Maharashtra            -    2,632,792        13.94%  399.921
1    2     Tamil Nadu    1,845,853    1,630,208         8.63%  247.629
2    3  Uttar Pradesh    1,687,818    1,584,764         8.39%  240.726
3    4        Gujarat            -    1,502,899         7.96%  228.290
4    5      Karnataka    1,631,977    1,493,127         7.91%  226.806

# q5

In [119]:
# opening the portal
url = "https://github.com/"
driver.get(url)
# clicking on the elements by searching through text to reach the destination
button = driver.find_element_by_xpath("//a[text()[contains(., 'Explore')]]")
button.click()
button = driver.find_element_by_xpath("//a[text()[contains(., 'Trending')]]")
button.click()

In [120]:
links = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
# creating list to store the data
url=[]
projects=[]
about=[]
contributor=[]
language=[]
for i in links:
    projects.append(i.text)
for i in links:
    url.append(i.get_attribute('href'))

In [121]:
#looping through all the elements for the required tags
for ul in url:
    driver.get(ul)
    time.sleep(2)
    try:
        about.append(driver.find_element_by_xpath("//p[@class='f4 mt-3']").text)
    except NoSuchElementException:
        about.append("-")
    try:
        contributor.append(driver.find_element_by_xpath("//*[text()[contains(., 'Contributors')]]").text)
    except NoSuchElementException:
        contributor.append("-")
    try:
        temp=driver.find_element_by_xpath("//*[text()[contains(., 'Languages')]]").text
        x = driver.find_elements_by_xpath("//ul[@class='list-style-none']")
        language.append(x[1].text)
    except NoSuchElementException:
        language.append("-")

In [122]:
# creating the dataframe
github = pd.DataFrame({
'project name':projects,
'summary':about,
'contributor':contributor,
'languages':language
})
github.head()

,project name,summary,contributor,languages
0,YMFE / yapi,YApi 是一个可本地部署的、打通前后端及QA的、可视化的接口管理平台,Contributors 63,JavaScript\n90.9%\nSCSS\n7.3%\nOther\n1.8%
1,SmartKeyerror / Psyduck,"Record CS knowlegement with XMind, version 2.0...",-,Go\n56.0%\nC++\n33.2%\nC\n10.8%
2,returntocorp / semgrep,Lightweight static analysis for many languages...,Contributors 49,Java\n28.7%\nOCaml\n27.6%\nJavaScript\n21.3%\n...
3,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,Contributors 117,-
4,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),Contributors 70,-

# q6

In [7]:
# opening the portal
url = " https://www.billboard.com/"
driver.get(url)

In [10]:
# clicking the Hot 100 button to reach the detination
button = driver.find_element_by_xpath("//*[text()[contains(., 'Hot 100')]]")

In [14]:
driver.get(button.get_attribute('href'))

In [21]:
# creating the list to store the data
sname=[]
aname=[]
lweek=[]
peak=[]
weeksoc=[]
# looping through all the elements to get data
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    sname.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    aname.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    lweek.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeksoc.append(i.text)
#creating the dataframe
songs=pd.DataFrame({
    "song name":sname,
    "artist name":aname,
    "last week":lweek,
    "peak":peak,
    "weeks on chart":weeksoc
})
songs.head()

      song name                artist name last week peak weeks on chart
0        Butter                        BTS         1    1              6
1      Good 4 U             Olivia Rodrigo         2    1              7
2  Kiss Me More     Doja Cat Featuring SZA         4    3             12
3    Levitating  Dua Lipa Featuring DaBaby         3    2             39
4    Bad Habits                 Ed Sheeran         -    5              1

# q7

In [76]:
# opening the portal
url = " https://www.naukri.com/"
driver.get(url)

In [77]:
# clicking on the search recruiters option to reach detination
button = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
button.click()

In [78]:
# moving the control to next tab to collect the data as previous steps open portal in new tab
c=driver.window_handles[1]
driver.switch_to.window(c)

In [79]:
# sending the inputs to fields for which we require data
word = driver.find_element_by_xpath("//input[@class='sugInp']")
word.send_keys('Data Science')
button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
button.click()

In [80]:
# creating the lists to store data
name=[]
designation=[]
company=[]
skills=[]
location=[]
links=[]
# getting URL's for each person
urls=driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")
for r in urls:
    links.append(r.get_attribute('href'))
# opening each url tpo collect data
for i in links:
    driver.get(i)
    time.sleep(1)
    try:
        name.append(driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']").text)
    except NoSuchElementException:
        name.append("-")
    try:
        designation.append(driver.find_element_by_xpath("//div[@class='ellipsis']").text)
    except NoSuchElementException:
        designation.append("-")
    try:
        company.append(driver.find_elements_by_xpath("//a[@class='fl ellipsis widLrg']")[0].text)
    except NoSuchElementException:
        company.append("-")
    try:
        location.append(driver.find_elements_by_xpath("//a[@class='fl ellipsis widLrg']")[1].text)
    except NoSuchElementException:
        location.append("-")
    try:
        skills.append(driver.find_element_by_xpath("//div[@class='fl lPortn']/p").text)
    except NoSuchElementException:
        skills.append("-")

In [81]:
# creating the dataframe
recruiter = pd.DataFrame({
    'name':name,
'designation':designation,
'company':company,
'skills':skills,
'location':location
})
recruiter.head()

,name,designation,company,skills,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)

# q8

In [82]:
# openinig the portal
url = " https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [87]:
# creating list for collecting the data
book=[]
author=[]
sold=[]
publisher=[]
genre=[]
#looping through all the elements to collect data
for i in range(0,100):
    book.append(driver.find_element_by_xpath("//td[@id='table-cell-10943-"+str(i)+"-1']").text)
    author.append(driver.find_element_by_xpath("//td[@id='table-cell-10943-"+str(i)+"-2']").text)
    sold.append(driver.find_element_by_xpath("//td[@id='table-cell-10943-"+str(i)+"-3']").text)
    publisher.append(driver.find_element_by_xpath("//td[@id='table-cell-10943-"+str(i)+"-4']").text)
    genre.append(driver.find_element_by_xpath("//td[@id='table-cell-10943-"+str(i)+"-5']").text)
# creating datframe
books=pd.DataFrame({
    'book':book,
'author':author,
'sold':sold,
'publisher':publisher,
'genre':genre
})
books.head()

,book,author,sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

# q9

In [88]:
# opening the portal
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [96]:
# creating the list to collect the data
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]
# looping through each element to collect data
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
    runtime.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
    genre.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    ratings.append(i.text)
# creating the dataset
movies=pd.DataFrame({
    "name":name,
    "year":year,
    "genre":genre,
    "runtime":runtime,
    "ratings":ratings,
    "votes":votes
})
movies.head()

,name,year,genre,runtime,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,833,687"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"872,503"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,553"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"263,985"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,534"

# q10

In [97]:
# opening the portal
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [98]:
# clicking the text to reach the destionation portal
button = driver.find_element_by_xpath("//b[text()[contains(., 'View ALL Data Sets')]]")
button.click()

In [100]:
# creating the list ot save data
dataname=[]
datatypes=[]
task=[]
attrtype=[]
instances=[]
attribute=[]
year=[]
# looping through each element to collect the data
for i in range(2,560):
    dataname.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[1]").text)
    datatypes.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[2]").text)
    task.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[3]").text)
    attrtype.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[4]").text)
    instances.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[5]").text)
    attribute.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[6]").text)
    year.append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[7]").text)
# creating the dataset
dataset=pd.DataFrame({
    "Name":dataname,
    "Data types":datatypes,
    "Task":task,
    "attributes type":attrtype,
    "Instances":instances,
    "Attribute":attribute,
    "Year":year
})
dataset.head()

,Name,Data types,Task,attributes type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998